@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

.corpo{
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(31, 100, 31)6, 109, 36);
}
h1{
    font-family: 'Orbitron', sans-serif;
}
h3{
   margin-top: 2px;
   margin-bottom: 1px;
}